<form action='/register' method='POST'>
	<label>Username:</label>
	<input type='text' name='username' class='form-control' value='user' />
	<label>Password:</label>
	<input type='password' name='pass' class='form-control' value='' />
	<label>Repeat password:</label>
	<input type='password' name='pass2' class='form-control' value='' />
	<button type='submit' class='btn btn-primary'>Register</button>
</form>
