#### Тема
Створення, стилізація та публікація статичних веб-документів

#### Мета
Познайомитись із поняттям веб-документів та технологіями їх створення і стилізації. 
Опублікувати статичний веб-сайт на одній із безплатних веб-платформ.

#### Підготовка

Зареєструватись на [GitHub][github] та створити публічний репозиторій з файлом `README.md`.
Виконати клон у локальний репозиторій, створити і переключитись на Git вітку `gh-pages`:

```sh
git checkout -b gh-pages
```

Додати у репозиторій файл `index.html`:

```html
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MY FIRST SITE</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
</head>
<body>
  <h1>Welcome!</h1>
  <p>This is my first web-page!</p>
</body>
</html>
```

Опублікувати вітку на GitHub:

```sh
git push -u origin gh-pages
```

Перевірити веб-сайт по шляху: 
`USERNAME.github.io/REPONAME`, 
де `USERNAME` - Ваш нік на GitHub, 
а `REPONAME` - назва репозиторію проекта

Встановити Jekyll:

```sh
sudo apt-get install jekyll
```

#### Завдання

Обрати просту тему для веб-сайту, що міститиме список об’єктів, описаних у ЛР№1. 

У даній лабораторній роботі потрібно описати HTML документи із окремими CSS стилями.

1. Описати у локальному репозиторії веб-документи:

    * Головна сторінка (`index.html`) із вказанням назви сайту і додаткової інформації про сайт і його призначення.
    * Сторінка зі списком об’єктів (наприклад, `students.html`). Кожен елемент списку об'єктів повинен містити основну (коротку) інформацію про об’єкт і зображення об’єкта (створити близько 5 записів).
    * Сторінка окремого об’єкта із розширеною інформацією про об’єкт (наприклад, `student/1.html`).

1. Зв’язати сторінки за допомогою гіперпосилань в обидві сторони. Наприклад, додати у `index.html` посилання:
    ```html
    <a href='/students'>Students</a>
    ```
    Перейти в кореневу директорію проекта і запустити локальний сайт за допомогою Jekyll:
    ```sh
    jekyll serve .
    ```
    Перевірити роботу локального сайту перейшовши у веб-браузері за посиланням: `localhost:4000`

1. Створити зовнішній CSS-стиль (наприклад, у файлі `style.css`) та підключити його до всіх сторінок.

1. Опублікувати створений статичний веб-сайт на Github Pages (зробити `git push` вітки `gh-pages`, що містить створені веб-документи). Перевірити роботу сайту у мережі Інтернет.

#### Демонстрація

* HTML документи мають проходити [html5-lint][html5-lint] валідацію.
* Запустити локальний сервер за допомогою Jekyll. Продемонструвати переходи за допомогою гіперпосилань.
* Продемонструвати роботу сайту у мережі Інтернет.

#### Вимоги до документації

* Скріншоти веб-сторінок
* Розмітка HTML та CSS стилі

#### Матеріали

1. [Лекція. Веб-документи. HTML][lec-1]
2. [Лекція. CSS стилі для HTML-сторінок][lec-2]

[github]: https://github.com
[html5-lint]: https://www.google.com/url?q=https://www.npmjs.com/package/html5-lint&sa=D&ust=1476658975900000&usg=AFQjCNEh5hdcCNYAJgoLDCttA23BBAGFdQ
[lec-1]: https://docs.google.com/document/d/1Tv8rHao5HrPVEXb-oBW0PBNob6lxxRNrDgeYRsNXrUM/edit?usp=sharing  
[lec-2]: https://docs.google.com/document/d/1GW0ElUPt42Ovl1N-0vdzh5Ov0Pmc_XcVVm1vh5_Om_0/edit?usp=sharing
